{% comment %} 
    Edvinas Kilbauskas
    File is included in "snippets/product-single-form-inner.liquid"
{% endcomment %}

{% liquid
	case product.vendor
    	when "INDYPREP"
			assign badge_src_desktop = 'INDYPREP_BADGE_MOBILE.svg' | asset_url
            assign badge_src_mobile = 'INDYPREP_BADGE_MOBILE.svg' | asset_url
        else
        	assign badge_src_desktop = 'OTHER_VENDORS_BADGE_MOBILE.svg' | asset_url
            assign badge_src_mobile = 'OTHER_VENDORS_BADGE_MOBILE.svg' | asset_url
    endcase

    if product.type == "subscription box"
    	assign badge_src = 'MS_atc_badge_svg.svg' | asset_url
    endif
%}

<source srcset="{{ badge_src_desktop | img_url: '200x' }}" media="(min-width: 767px)">

<div class="atc-badges-img-wrapper fox-hide--small">
  <img class="atc-badges-img"
      src="{{ badge_src_desktop }}"
      alt="Badges">
</div>

<div class="atc-badges-img-wrapper fox-hide--medium-up">
  <img class="atc-badges-img"
      src="{{ badge_src_mobile }}"
      alt="Badges">
</div>