<style>
    
  .bfcm-notice { 
    color: #fff;
    background: #963095;
    padding: 13px;
    margin-top: -5px;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
  }
  
  @media all and (min-width: 768px) {
    .bfcm-notice { border-radius: 0; } 
  }
  
</style>

<div class="bfcm-notice">Get <b>20% OFF</b> your order with code <b>BLACK20</b></div>