<style>
  .extra-product-description{
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%; /* was 26px */
    color: #000000;
    margin-top: 10px;
    margin-bottom: 5px;
  }

</style>

<div class="extra-product-description fox-hide--small">
  {{ obj.settings.extra_description }}
</div>

