{% comment %}
******************************************

Last changes: 2022-02-24 Grazina

******************************************
{% endcomment %}
<div class="w100 cart__payment-badges-divider">
          <div class="line"></div>
          <div class="text">Secure Payment methods</div>
          <div class="line"></div>
        </div>
<div class="cart__payment-badges ">
          <img src="https://cdn.shopify.com/s/files/1/0278/9903/5708/files/icon-visa.svg?v=1645725661" alt="Visa">
          <img src="https://cdn.shopify.com/s/files/1/0278/9903/5708/files/icon-mastercard.svg?v=1645725661" alt="Mastercard">
          <img src="https://cdn.shopify.com/s/files/1/0278/9903/5708/files/icon-paypal.svg?v=1645725661" alt="Paypal">
          <img src="https://cdn.shopify.com/s/files/1/0278/9903/5708/files/icon-amex.svg?v=1645725661" alt="Amex">
          <img src="https://cdn.shopify.com/s/files/1/0278/9903/5708/files/icon-apple-pay.svg?v=1645725661" alt="Apple Pay">
          <img src="https://cdn.shopify.com/s/files/1/0278/9903/5708/files/icon-discover.svg?v=1645725661" alt="Discover">
        </div>

<style>
  .cart__payment-badges img{
   	 min-width: 0;
     min-height: auto;
     border-radius: 4px;
  }
  
  .cart__payment-badges {
   	gap: 5px; 
  }
</style>