<style>
  #bfcm-home-page-wrapper img {
  	width: 100%;
  }
</style>

<div id="bfcm-home-page-wrapper">
  <a href="/collections/bags" title="BLACK FRIDAY SALE is on! Use code <b>BLACK20</b> and get 20% OFF!">
  	<img data-src="{{ 'bf-cr-hp-banner.png' | asset_url }}" class="img-responsive lazyload" alt="BLACK FRIDAY SALE is on! Use code <b>BLACK20</b> and get 20% OFF!">
  </a>
</div>