{% comment %}
/*
* Author: Heindrick Dumdum
* Owner: Foxelli Group
* Date: 31-03-2022 10:30 (LT Time)
*/
{% endcomment %}

<div class="section-{{ section.id }}">
    <div class="banner-wrapper">
        {% if section.settings.banner_image != nil %}
        {{ section.settings.banner_image | image_url | image_tag: width: nil }}
        {% endif %}
    </div>
</div>


{% schema %}
{
"name": "Rewards Page Section",
"settings": [
    {
    "type": "image_picker",
    "id": "banner_image",
    "label": "Image"
    }
    ]
}
{% endschema %}
  