{% comment %}
/*
* Author: Heindrick Dumdum
* Owner: Foxelli Group
* Date: 31-03-2022 10:30 (LT Time)
*/
{% endcomment %}

<style>
    .section-{{ section.id }} .section-container {
        max-width: 1180px;
        margin: auto;

    }
</style>

<div class="section-{{ section.id }} section-container">
    <div class="banner-wrapper">
        {% if section.settings.banner_image != blank %}
            <img src="{{ section.settings.banner_image | img_url: 'original' }}" alt="">
        {% endif%}
    </div>
</div>


{% schema %}
{
"name": "Rewards Page Section",
"settings": [
    {
    "type": "image_picker",
    "id": "banner_image",
    "label": "Image"
    }
    ]
}
{% endschema %}
  